body {
  font-family: "Times New Roman", sans-serif;
}
ul, li {
  list-style: none;
}
.complete {
  text-decoration: line-through;
}

#input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

#add {
  background-color: #4CAF50;
}

#even, #odd, #removeLast, #removeFirst {
  background-color: #008CBA;
}

.complete {
  text-decoration: line-through;

}

li {
  border: 1px solid #9b9b9b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 5px;
  max-width: 60%;
  margin-bottom: 10px;
}

li span {
  margin-right: 10px;
}

.complete-btn {
  background-color: #4CAF50;
}

.remove-btn {
  background-color: #f44336;
}

.even {
  background-color: #564ae2;
  color: white;
}
.odd {
  background-color: #5aa9e9;
}
